@font-face {
    font-family: "Thuner";
    src: url(https://www.1001fonts.com/thuner-font.html) format("opentype"), local("Thuner");
}

header {
    display: flex;
    justify-content: center;
    background-color: #16C61D;
    width: 100%; min-height: 110px;
}

#logo {
    display: inline;
    position: relative;
    max-width: 200px;
    max-height: 100px;
}

.nav-list {
font-family: "Thuner", "Kanit", Verdana, sans-serif;
background-color: #132747;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 4rem;
margin: 0 auto;
padding: 0;
list-style: none;
position: relative;
text-align: center;
}

.nav-list li {
    flex-shrink: 1;
    flex-grow: 1;
    
}

.gray-bar {
    display: flex;
    background-color: #2A323F;
    width: 70%;
    justify-content: center;
}

.store-bar > li {
    color: #FFF;
    display: inline-flex;
    padding-left: 10px;
    max-height: 25px;
    font-family: "Kanit", Verdana, sans-serif;
}

body {
    background-color: #132747;
    margin: 0;
    overflow-y: scroll;
    position: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2A323F;
    width: 100%; min-height: 150px;
    font-family: "Kanit", Verdana, sans-serif;
    justify-content: center;
}

.footer-contact {
    position: relative;
}

h1,
h2,
h3 {
    color: #FFF;
    font-family: "Kanit", Verdana, sans-serif;
}

.card {
    display: flex;
    justify-content: center;
    background-color: #2A323F; 
    margin: 10px;
}

.card-game-title {
    position: relative;
}

p {
    font-family: "Kanit", Verdana, sans-serif;
    color: white;
}


.about {
    text-align: center;
    max-width: 700px;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: #FFF
}

a:hover, :focus {
    color:#16C61D;
}

a:active {
    color:#16C61D;
}

.store-page-pics {
    max-width: 475px;
    max-height: 625px;
}

.most-played {
}

.collection-games-pics {
   max-width: 400px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;
}

.collection-all-games-pics {
    max-width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}