@font-face {
    font-family: "Thuner";
    src: url(https://www.1001fonts.com/thuner-font.html) format("opentype"), local("Thuner");
}

header {
    display: flex;
    justify-content: center;
    background-color: #16C61D;
    width: 100%; min-height: 110px;
}

#logo {
    display: inline;
    position: relative;
    max-width: 150px;
    max-height: 100px;
    margin-left: 50px;
}

.nav-list {
font-family: "Thuner", "Kanit", Verdana, sans-serif;
background-color: #132747;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 30px;
margin: 0 auto;
padding: 0;
list-style: none;
position: relative;
text-align: center;
align-content: end;
}

.nav-list li {
    flex-shrink: 1;
    flex-grow: 1;
    
}

.gray-bar {
    display: flex;
    background-color: #2A323F;
    text-align: left;
}

.store-bar > li {
    color: #FFF;
    display: inline-flex;
    padding-left: 10px;
    max-height: 25px;
    font-family: "Kanit", Verdana, sans-serif;
}

body {
    background-color: #132747;
    margin: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

main {
    max-width:800px;
    margin: 0 auto;
    flex: 1;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2A323F;
    width: 100%; min-height: 150px;
    font-family: "Kanit", Verdana, sans-serif;
    justify-content: center;
    margin-top: 20px;
}

.footer-contact {
    align-items: left;
}

h1,
h2,
h3 {
    color: #FFF;
    font-family: "Kanit", Verdana, sans-serif;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
}

.card {
    display: flex;
    gap: 10px;
    background-color: #2A323F; 
}

figure {
    flex: 2;
    margin: 0px;
}

.card-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-images {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
}

.card-price {
    margin-right: 30px;
    text-align: right;
    color: #FFF;
    font-family: 'Kanit', Verdana;
}

p {
    font-family: "Kanit", Verdana, sans-serif;
    color: white;
}


.about {
    align-items: center;
}



a {
    text-decoration: none;
    color: #FFF
}

a:hover, :focus {
    color:#16C61D;
}

a:active {
    color:#16C61D;
}



.most-played {
}

.collection-games-pics {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;
}

.collection-all-games-pics {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}